body {
  font-family: Open Sans;
  font-weight: 400;
  margin: 0;
  display: flex;
}

.form {
  background-color: #455A64;
  width: 50%;
  margin: -2px auto;
  height: 100%;
}
.wrapper {
  margin: 50% auto;
}

h1 {
  color: #FFF;
  font-weight: 800;
  text-align: center;
  font-size: 5em;
}

.logo {
  height: .8em;
}

.title-input,
.url-input {
  display: block;
  margin: 1.7em auto;
  width: 90%;
  font-size: 1.7em;
  padding: 7px;

}

.add-button {
  display: block;
  margin: 0 auto;
  font-size: 1.01em;
  width: 90%;
  font-weight: 800;
  background-color: #FFC107;
  color: #FFF;
  padding: 14px 11px;
  border: none;
  text-align: center;
}

.add-button:hover {
  background-color: #FFD773;
  color:  #FFF;
}

.list {
  width: 50%;
  display: inline-block;
  background-color: #CFD8DC;
  margin: -2px;
  bottom: 10em;
}

 .bookmark {
  border: solid;
  border-color: #607D8B;
  background-color: #FFF;
  margin: 2em auto;
  width: 90%;
 }

 .title-output {
  color: #455A64;
  font-weight: 800;
  border-bottom: solid;
  border-bottom-color: #CFD8DC;
  font-size: 2em;
  padding: .6em;
  padding-left: 0;
  margin: 0 .7em;

 }

 .url-output {
  color: #607D8B;
  border-bottom: solid;
  border-bottom-color: #CFD8DC;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
  margin: 0 1em;
  margin-bottom: .5em;
  padding: 0.8em 0;
  font-size: 1.4em;
 }

 button {
  font-size: 1.1em;
 }

 .buttons {
  margin: .5em 0;
 }

 .read-btn,
 .delete-btn {
  color: #455A64;
  background-color: inherit;
  border: none;
  text-decoration: underline #F2F4F4;
 }

 .read-btn {
  padding-left: 1.2em;
 }

 .delete-btn {
  float: right;
  padding-right: 1.2em;
 }

 .read-btn:hover,
 .delete-btn:hover,
 .url-output:hover {
  font-weight: 800;
  text-decoration: underline;
  text-decoration-color: #FFC107;
 }

.delete-btn:hover {
  font-weight: 400;
}

.read {
  color: #F05A28;
}